h1, 
h2, 
h3, 
p {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: bold;
}

.banner {
    background-color: gray;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: normal;
    color: black;
    margin-left: 24px;
    margin-right: 32px;
    padding: 64px, 32px;
}

#more {display: none;}

body {
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: darkgray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header--main {
    color: black;
    font-size: 40;
    font-weight: normal;
    text-align: right;
}

.paragraph {
    font-size: 16px;
    color: blue;
}

#orientation {

}

#campus {

}

#guest {

}

#learning {

}

#thesis {

}
