h1, 
h2, 
h3, 
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}


.bold {
    font-weight: bold;
}

.id {

}

.banner {
    background-color: gray;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: normal;
    color: black;
    margin-left: 24px;
    margin-right: 32px;
    padding: 64px, 32px;
}

#toggle {
    color: blue;
    display: none;}

body {
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: darkgray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header--main {
    color: black;
    font-size: 40;
    font-weight: normal;
    text-align: right;
}


#orientation {

}

#campus {

}

#guest {

}

#learning {

}

#thesis {

}

.footer--copyright {
    font-size: 21px;
    color: gray;
    text-align: right;