@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* CSS ruleset */
}

body {
    background: white;    
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black
    }

h1
h2
h3
p {
  font-family: Arial, Helvetica, sans-serif;  
  font-weight: normal;
}

.float-img {
    float: left;
    clear: right;
    margin-left: 10px; 
    margin-bottom: 5px;
    border: solid dimgray 1px;
    padding: 2px;
}
    

.bold {
    font-weight: bold;
}


.id {
    background-color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: black;
}


.banner {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: normal;
    color: white;
  }


.button {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
    background-color: dimgray;
    color: black;   
}

.header--main {
    color: black;
    font-size: 40;
    font-weight: normal;
    text-align: right;
    
}

#orientation {
    color: blue;
    
}

#campus {
   color: blue;
   

}


#guest {
    color: blue;
    
}

.link--cta {
    font-size: 16px;
    color: black;
    float: right;
    
}

.footer--copyright {
    font-size: 21px;
    color: gray;
    text-align: right;
    
}